
/* CSS Document */

body, html{
	padding: 0;
	margin: 0;

    width: 100%;
    height: 100%;
   
    background: white;
		scroll-behavior: smooth;

	scroll-snap-type: y;
  
}
/***************Fonts ************/
@font-face {
    font-family: "Refomrma_1918";
    src:url("../font/reforma.1918-blanca.ttf");
}
@font-face {
    font-family: "Reforma_1918_italic";
    src:url("../font/reforma.1918-blanca-italica.ttf");
}

@font-face {
    font-family: "Reforma_1918_negra";
    src:url("../font/reforma.1918-negra.ttf");
}

h1,h2,h3,h4{
	color: #424242;
	   font-family: "Refomrma_1918";
}
h1{
	font-size: 4.5em;
	color: white;
}
#unterseite_h1 h1{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 8em;
	width: 100%;
}
h2{
	font-size: 35px;
	position:relative;
padding-top: 5%;
right:0;
left:0;
text-align:center;
}

h3{
	text-align: center;
	font-size: 25px;
}

h4{
	font-size: 25px;
	text-align: left;
}

a{
	color: #424242;
	  font-family: "Refomrma_1918";
	font-size: 20px;
	text-decoration: none;
}

p{
	color: #424242;
	 font-family: "Refomrma_1918";
	font-size: 20px;
}

/***************Hero Section ***************/

h1{
	position: absolute;
	text-align: right;
	width: 50%;
	right: 10%;
	top: 40%;
	
	
}
h1 span {
	background-color: rgba(66,66,66,0.60);
	
}
.hero_portfolio{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/portfolio_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero_uebermich{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/ueber_mich_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero_kontakt{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/kontakt_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero_location{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/location_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero_infos{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/infos_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero_preise{
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/preise_desk_lukas_lehmann.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#hero{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.8) 100%), url("../bilder/hochzeitsfotograf_schwarzwald_lukas_lehmann_quer (1).jpg");
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#mob_title{
	display: none;
}
/*************ham navi************/
#ham{
	position: absolute;
	width: 45px;
  height: 45px;
	display: none;
margin-top: 50px;
	right: 50px;
	z-index: 100;
}
#ham span{
	position: absolute;
	width: 100%;
  height: 6px;
  background-color: #424242;
 
	border-radius: 3px;

}
#span1 {
  top: 0px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;

}

#span2 {
  top: 12px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

#span3 {
  top: 24px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

#span1.active1{
	top: 12px;
	
	transform-origin: center;
	transform: rotate(-45deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	
}
#span2.active2{
	height: 0px;
	width: 0px;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#span3.active3{
	top: 12px;
	
	transform-origin: center;
	transform: rotate(45deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	
}
	#menu{	
		visibility: hidden;
		transform-origin: center;
		transform: scale(0);
  		opacity: 0;
		transition-timing-function: ease-out;
		height: 100%;
		width: 100%;
	position: fixed;
		
		
}




#menu.activemenu{
	
	 visibility: visible;
	transform-origin: center;
	transform:scale(1);
  opacity: 1;
	  transition-duration: .5s;
		transition-timing-function: ease-out;
	z-index: 20;
	background-color: rgba(255,255,255,0.8);

	}
	



	#menu ul{
		flex-direction: column;
		margin: 0;
		list-style: none;
	
		
		padding: 0;
	
		font-family: 'raleway';
		transform-origin: center;
		padding-top: auto;
		padding-bottom: auto;
		position:absolute;
	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

#menu a, #menu p{
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	color:#424242;
	margin: 10px;
	margin-bottom: 20px;
	position: relative;

	

}



.menu_ani a:before{
	content: "";
	position: relative;
	transform-origin: center;
	right: 0px;
	border-left: 3px solid rgba(66,66,66,0);
	transition-duration: 0.3s;
}
.menu_ani a:after{
	content: "";
	position: relative;
	transform-origin: center;
	left: 0px;
	border-right: 3px solid rgba(66,66,66,0);
	transition-duration: 0.3s;
}

.menu_ani a:hover:before{
	border-left: 3px solid rgba(66,66,66,0);
	right: 10px;
}
.menu_ani a:hover:after{
	border-right: 3px solid rgba(66,66,66,1);
	left: 10px;
}
@media (max-width:968px){
	#ham{
		display: block;
	}
	
	#menu a, #menu p{
	text-align: center;
	margin: 0px;
	margin-bottom: 30px;
		font-size: 20px;
	

	

}
}
/************ham navi ende***************/
#navi{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 11;
	background-color:rgba(255,255,255,0.80);
	
}
#navi #titel{
	float: left;
	padding-left: 100px;
}

#navi ul{
	float: right;
	display: flex;
	list-style: none;
	padding-right: 100px;
	top: 50%;
	position: relative
	
	
}
#navi ul li a{
	padding: 20px;
}

#titel p{
	margin-top: -20px;
}

.fullcon{
	height: 100%;
	position: relative;
}

#hero .pfeil:after{
	content: '';
	width: 50px;
	height: 50px;
	border-right: solid 2px white;
	border-bottom: solid 2px white;
	position: absolute;
			left: 50%;
	top: 150%;
	transform: translate(-50%,-50%) rotate(45deg);
	transform-origin: center;
	
}

.anzahl {
	width: 100%;
	background: #f1b96f
}
.anzahl p{
	text-align: center;
	padding: 10px;

	margin: 0;
	
}

.hero_call{
	
	position: absolute;
			left: 50%;
	top: 85%;
	transform: translate(-50%,-50%);
	transform-origin: center;
}
.hero_call a{
	text-align: center;
	color: white;
}
	
/************Portfolio Section ***************/

.portcontainer{
	
	display: grid;
	grid-gap: 0em;
	grid-template-columns: 25% 25% 25% 25%;
	
}
.panoimg{
		grid-template-columns: 50% 50%;
}

.imgquote {
	padding: 1em;
	
	
	
}

.portcontainer img{
	margin-top:0;
	width: 100%;
	

}



/************Location***************/

.location-grid{

	
	
		display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
}

.loc-box{
	height: 400px;
	padding: 40px;
	margin: 40px;
	opacity: 1;
	transition: 0.3s;
}

.loc-box:hover{

	height: 380px;
	opacity: 0.8;
	transition: 0.3s;
}

.loc-content p{
	text-align: right;
	
	bottom: 30px;
right: 10px;
	color: white;
	position: relative;
    transform: translate(10px, 350px);
}

.loc-title1{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/location/hochzeit_henslerhof_Hinterzarten_title.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	
}

.loc-title2{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/location/hochzeit_reinertonishof_schönwald_title.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.loc-title3{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/location/hochzeit_schloss_hornberg_title.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	
}

.loc-title4{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%), url("../bilder/location/hochzeit_standesamt_freiburg_title.jpg")!important;
		    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	
}



/*****************Übermich *************/

.grid_5050{
	
display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;

}

.grid_item{
	align-items: center;
   justify-content:center;
	
	display: flex;
	flex-direction: column;
	padding: 10%;
	
	padding-left: 20%;
	padding-right: 20%
	
}
.grid_item h3{
	text-align:left;
}
.uebermich-text{
	display: flex;
	flex-direction: column;
}

.uebermich-text p{
		font-size: 2em;
	text-align: center;
	}	



.trennstrich:after{
	content: '';
	height: 60%;
	position:absolute;
	width: 2px;
	background-color: #7C7C7C;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transform-origin: center;
}

.grid_item img{
	width: 80%
}



/***********FAQ************/
.faq_container {
    padding: 3em;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
}
    .faq_frage {
        padding: 2em;
       
       
}

.faq_border{
	border-right: solid 2px #7C7C7C;
	border-left: solid 2px #7C7C7C;
}
.italic{
	 font-family: "Reforma_1918_italic";
}
/************kontakt*************/
.align_column{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sm_teaser{
	display: flex;
	flex-direction: row;
	
}

.sm_teaser img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding: 10px;
	
}

.sm_teaser a{
	display: flex;
	align-items: center;
   justify-content:center;

}

.btn-container{
	
	width: 15%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.button{
	border: solid 2px #7C7C7C;
		background-color: #424242;
	padding: 10px;
		transition: 0.2s;
	display: flex;
	color: white;
   justify-content:center;
}

.button:hover{
	color: #424242;
	background-color:white;
	
	transition: 0.2s;
}

#faqfrage {
	padding-top: 0;
	margin-top: -20px;
	
}


/*******FORM Style**********/
form input {
	width: 90%;
	
}
.form-group textarea{
	width: 100%;
}
.form-group {
	padding: 0;
	margin: 0;
	
}
.form-element{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.form-first-row{
	display: flex;
	flex-direction: row;
	gap: 5%;
	justify-content: space-between;
	
}
label{
  font-family: "Refomrma_1918";
	text-align: left;
}
form .button{
	  font-family: "Refomrma_1918";
	font-size: 20px;
}
.form-row{
	display: flex;
	flex-direction: row;
}



/*************FAQ - Infos************/

.faq_fragen {
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
	width: 80%;
	
}


.faq_fragen h3{
	text-align: left;
	
}
.trennstrich_hori:after{
	content: '';
	height: 2px;
	position:absolute;
	width: 30%;
	background-color: #7C7C7C;
	left: 50%;
	bottom: -10px;
	transform: translate(-50%,-50%);
	transform-origin: center;
	
	
}

/**********Preise und Pakete***********/
.preise_text_box{
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
}
.pakete_grid{
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	left: 50%;
	position: relative;
	transform: translate(-50%)
	
}
.pakete_grid h4{
	text-align: center!important;
	margin: 0;
	padding: 10px;
}
.pakete_grid p{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.text-image-container{
	position: relative;
	text-align: center;
}
.paket_einzel{
	width: 30%;
	padding: 20px;
	border: solid;
	border-color: #f1b96f;
	border-width: 1px;
	
}
.bestseller{
	background-color: #f1b96f;
	top: 0;
	position: absolute
}
.bestseller p{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0!important;
}

.paket1, .paket3{
	width: 25%;
}

.pakete_grid img{
	max-width: 100%;
  height: auto;
}
/*************Footer**************/
.footer {
	text-align: center;
}
.footer .faq_container{
	padding: 0;
	background-color: #424242;
}
.footer a{
	color:white;
	
}
.footer .faq_frage{
	padding: 1em;
}

/*Datenschutz*/
#recht h1{
	text-align: center;
	padding-top:10%; 
}

#recht{
	padding-left: 10%;
	padding-right: 10%;
}
@media (max-width:1200px){
.location-grid{

	
	
		display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
}
}



@media (max-width:968px){
	
	.desk_menu{
		display: none;
	}
	
	#mob_title{
		display: block;
		position: relative;
		position: absolute;
		
		top: 10%;
	}
	#mob_title h3{
		margin: 0;
		padding-left: 10%;
		padding-right: 10%;
		font-size: 1em;
    margin-top: 30px;
		
	}
	.unterseite_title h3{
		color: white;
		
	}
	h1{
	position: absolute;
	text-align: right;
	width: 50%;
	right: 10%;
	top: 40%;
	font-size: 2em;
	
}
	
.portcontainer{
	
	grid-template-columns: 50% 50%;
	
}
	.grid_5050{
	

	grid-template-columns: 100%;
	

}
	.grid_item{
		padding-top:5%;
		padding-bottom: 5%;
	}
	
	
	
	
.trennstrich:after{
	display: none;
}
	
	.btn-container{
	
	width: 40%;
	
}
.faq_border{
	border-right: none;
	border-left: none;
}
	
	#navi{
		display: none;
	}
	#titel h3{
		text-align: center;
		
	}
	#titel{
		padding: 0;
		
	}
	
	
	.loc-box{
	
	padding: 20px;
	margin: 20px;
	opacity: 1;
	transition: 0.3s;
}

.loc-box:hover{
margin: 15px;
	
	opacity: 0.8;
	transition: 0.3s;
}
	
	.pakete_grid{
	display: flex;
	flex-direction: column;
		padding-left: 3%;
	padding-right: 3%;
	}
	.preise_text_box{
	margin-left: 5%;
	margin-right: 5%;
	
}
	.paket_einzel{
	width: 80%;
		margin-top: 10px;
	}
}


@media (max-width:550px){
	
	
	
	#unterseite_h1 h1{
	
	font-size: 3em;
	
}
	.hero_portfolio{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/portfolio_mob_lukas_lehmann.jpg")!important;
		  
}
	.hero_uebermich{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/ueber_ich_mob_lukas_lehmann.jpg")!important;
		  
}
	.hero_kontakt{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/kontakt_mob_lukas_lehmann.jpg")!important;
		  
}
		.hero_location{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/location_mob_lukas_lehmann.jpg")!important;
}	
	.hero_infos{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/infos_mob_lukas_lehmann.jpg")!important;
}
	.hero_preise{
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%), url("../bilder/Titelbilder/preise_mob_lukas_lehmann.jpg")!important;
}
	
	#hero{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.8) 100%), url("../bilder/hochzeitsfotograf_schwarzwald_lukas_lehmann_hoch (23).jpg");
	}
	
	.hero_call a{
	font-size: 15px;	
		
	}
	
	#hero .pfeil:after{
	
	width: 30px;
	height: 30px;
	}
	
	h1{
	position: absolute;
	text-align: right;
	width: 70%;
	right: 10%;
	top: 40%;
	font-size: 2em;
	
}
	
.portcontainer{
	
	grid-template-columns: 100%;
	
}
	.faq_container {
    padding: 1em;
   
  
}
    .faq_frage {
        padding: 0em;
       
       
}
	.grid_item{
	
	padding: 1em;
	
	padding-left: 1em;
	padding-right: 1em;
	
}
	.btn-container{
	
	width: 90%;
	
}

	
	.location-grid{

	
	
		display: grid;
	grid-template-columns: repeat(1, 1fr);
	position: relative;
}
	
	.loc-box{
	height: 200px;
	padding: 20px;
	margin: 20px;
	opacity: 1;
	transition: 0.3s;
}

.loc-box:hover{
margin: 15px;
	height: 180px;
	opacity: 0.8;
	transition: 0.3s;
}
	
	
.loc-content p{
	text-align: right;
	
	bottom: 30px;
right: 10px;
	color: white;
	position: relative;
    transform: translate(10px, 150px);
}
}

/*Cookie banner*/
.cookie-container{
	display: none;
	background-color:#F1B96F;
	color: #424242;
	width: 80%;
	position: fixed;
	bottom: 40px;
	padding-left: 5%;
	padding-right: 5%;
	
	transform: translate(50%, 0);
	right: 50%;
}

.cookie-container a{
	color: white;
}

.active{
	display: block!important;
}

.btn-flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn-anpassen {
	color: white;
	font-size: 20px;
	text-decoration: underline white;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.btn-zustimmen {
	background-color: #424242;
	text-align: center;
	color: white;
	width: 200px;
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
}


@media (max-width:550px){
	.cookie-container a{
	color: white;
		font-size: 13px;
}
	.btn-anpassen {
	color: white;
	font-size: 13px;
	text-decoration: underline white;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-zustimmen {
	background-color: #424242;
	text-align: center;
	color: white;
	width: 200px;
	font-size: 20px;
	padding: 10px;
}
	.cookie-container p{
		font-size: 13px;
	}
}



/*Slider neu*/

.testi-container{
	position: relative;
	
	border-style: solid;
	border-color: #f1b96f;
	border-width: 2px;
	margin-top: 100px;
	width: 80%;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	
}

.testi-container p{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.paar-bild {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	top: 50%;
	position: relative;
	transform: translate(0, -50%);
}
.testi-text-stern{
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	position: relative;
	transform: translateY(-50%)
	
}
.testi-text-stern img{
	height: 30px!important;
	width: 30px!important;
}

.testi-text-stern span {
	 font-family: "Reforma_1918_negra";
}


.google-logo img{
	margin-right: 5px;
}
.Google-Review{
	direction: flex;
	flex-direction: row;
	align-items: center;
}

.slidershow{
  width: 70%;
  height: 100%;
  overflow: hidden;
	position: relative;
	  left: 50%;
  transform: translate(-50%,-0%);
}




.navigation{
  position: absolute;

 left: 50%;
  transform: translate(-50%,-0%);
  display: flex;
	z-index: 4;
}
.bar{
  width: 30px;
  height: 30px;
border-radius: 50%;
  border: 2px solid #000000;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
	opacity: 0.3;
}
.bar:hover{
  background: #000000;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
	
  width: 20%;
  transition: 0.6s;
display: flex;
	flex-direction: row;
	padding-top: 30px;
	padding-bottom: 30px;
	height: auto;
}


#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

#r1:checked ~ .navigation label:nth-child(1),
#r2:checked ~ .navigation label:nth-child(2),
#r3:checked ~ .navigation label:nth-child(3),
#r4:checked ~ .navigation label:nth-child(4),
#r5:checked ~ .navigation label:nth-child(5){
   background: #fff;
}

.instagram-feed {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}


@media (max-width:1300px){
.slide{
	
 
display: flex;
	flex-direction: column;
	
	
}

	.paar-bild{
		left: 50%;
		position: relative;
		transform: translate(-50%, 0);
		top: 0%;
	
	
	}
.testi-text-stern{
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0%;
	position: relative;
	transform: translateY(0%)
	
}
	
		.instagram-feed {
	width: 70%;

}
}


@media (max-width:900px){
	.testi-container{
		width: 98%;
	}
	.testi-container p{
		padding: 0;
		font-size: 15px;
	}
	.testi-text-stern {
		width: 80%;
		left: 50%;
		position: relative;
		transform: translate(-50%, 0);
		
	}
	.slidershow {
		width: 100%;
	}
	
	.instagram-feed {
	width: 100%;

}
}



